 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I recently com</p>
                </div>I am a person who doesn't like to do the ordinary but wants to excel at any project that I am doing. I had a teacher once tell me, "You get out of something as much as you put in". This is why I don't like to do the bare minimum with things but want to provide the best I can. I'm an avid learner and when I don't know how to do things, I go and discover how to do it.
                <div class="col-lg-4">
                    <p>I can do Full Stack Web Design, Graphic Desisgn or Programmings. Recently I have started to try out some Virtual Reality and working work Unity3D and Google VR SDK</p>
                </div>
                
            </div>
        </div>
    </section>
