.skills {
  font-variant: small-caps;
}

.info {
  font-size: 16px;
  text-align: left;
  margin-top: 25px;
}
section .resume {
  text-align: center;
  background: #18BC9C;
  color: white;
}

.img-circle {
    border-radius: 50%;
}

.portfolio-div {
  flex: 1;
}

.education {
  margin-top: 20px;

}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    margin-top: 100px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.outer {
  border: 1px solid grey;
  margin: 25px;
}
