{% extends 'admin.html' %} {% block content %} {% if 'username' in session %}

<div class="container">
    <div class="row text-center">
        <h1>Add to Your Education</h1></div>
    <form method="post" class="form-horizontal" action="#">
        <fieldset id="portfolio_menu">
            <div class="form-group">
                <label class="control-label col-xs-3">School: <span  class="img-help glyphicon glyphicon-question-sign" aria-hidden="true"></span></label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="school" value="{{ education.school}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Location:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="location" value="{{ education.locaiton}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Degeee:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="degree" value="{{ education.degree}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">Major:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="major" value="{{ education.major}}">
                </div>
            </div>
            <div class="form-group">

                <label for="inputDescription" class="control-label col-xs-3">Attended From:</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control" name="start" value="{{education.start}}">
                </div>
                <label for="inputLanguage" class="control-label col-xs-1"> to </label>
                <div class="col-xs-2">
                    <input type="text" class="form-control" name="end" value="{{ education.end }}">
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-xs-3">Bullet Point 1:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="bullet_1" value="{{ education.bullet_1}}">
                </div>
                <label class="control-label col-xs-3">Bullet Point 2:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="bullet_2" value="{{ education.bullet_2}}">
                </div>
                <label class="control-label col-xs-3">Bullet Point 3:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="bullet_3" value="{{ education.bullet_3}}">
                </div>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-default" value="Submit">
            </div>

        </fieldset>
    </form>
</div>
{% else %}
<h1>You be here. Your IP has been logged</h1> {% endif %}
</div>

{% endblock %}
