{% extends 'admin.html' %} {% block content %} {% if 'username' in session %}

<div class="container skills">
    <div class="row text-center">
        <h1>Education</h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <table class="table">
            <thead class="thead-inverse">
                <tr>

                    <th>School</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for school in education%}
                <tr>

                    <td>{{ school.school}}</td>
                    <td><a href="{{ url_for('work.edit_education', education_id=education.id) }}" class="btn btn-warning actions">Edit</a>
                        <a href="{{ url_for('work.delete_education', education_id=education.id) }}" class="btn btn-danger">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>


    {% else %}
    <h1>You be here. Your IP has been logged</h1> {% endif %}
  </div>

{% endblock %}
