 {% extends 'admin.html' %} {% block content %} {% if 'username' in session %}

<div class="container">


    <h1 class="text-center">Skills</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>id</th>
                        <th>Skill</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tech in skills%}
                    <tr>
                        <th>{{ tech.id}}</th>
                        <td>{{ tech.skill}}</td>
                        <td><a href="{{ url_for('skill.edit_skill', skill_id=tech.id) }}" class="btn btn-warning actions">Edit</a>
                            <a href="{{ url_for('skill.delete_skill', skill_id=tech.id) }}" class="btn btn-danger">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<a href="{{ url_for('skill.add_skill')}}" class="btn btn-warning actions">Add Skill</a>

        </div>
    </div>




    {% else %}
    <h1>You be here. Your IP has been logged</h1> {% endif %}
</div>

{% endblock %}
